* {
    margin: 0%;
    box-sizing: border-box;
    color: black;
}

a {
    font-size: 30px;
    color: inherit;
    text-decoration: none;
}

div {
    padding: 0%;
    border: 0x;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    width: auto;
    height: 50px;
}

.subheader {
    background-color: #ca0015;
    border: 5px solid black;
    height: 40px;
    color: white;
    font-weight: bold;
}

.recipebox {
    background-color: #ca0015;
    border: 5px solid black;
    height: 40px;
}

.recipe {
    color: white;
    font-weight: bold;
    margin: auto;
    width: 100%;
    text-align: center;
    display: block
}

.image {
    width: 500px;
    height: auto;
    margin: auto;
    display: block;
}

.imagetext {
    width: 500px;
    text-align: center;
    margin: auto;
    display: block;
}

.listingbox {
    background-color: gray;
}

.listingelement {
    color: black;
    font-size: large;
    font-weight: bold;
}
